body{
    background-color: #fafbfc
    ;
}

.card {
  border-radius: 8px;
  background-color: #fff;
}

.form-label {
  font-weight: bold;
}

.search_btn {
  margin-top: 2.4%;
  background-color: #065ac7;
  cursor: pointer;
  border: none;
}

.ant-tabs{
  border-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.card_border{
  border: 1px solid rgba(	227, 229, 234) !important;
}


@media screen and (min-device-width: 780px) and (max-device-width: 1000px) { 
  .search_btn {
    margin-top:3.5%;
    background-color: #065ac7;
    cursor: pointer;
    border: none;
  }}